
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #d0d0d0;
}

.App-link {
  color: #61dafb;
}
.app-container{
  background-color: #fafafa;

}
.metainforow{
  padding-left: 24px;
  padding-right: 24px;
  font-size:14px;
}
.verified{
  margin-left: 3px;
  font-size: 11px;
}
.title{
  font-size: 18px;
  font-weight: 600;
}
.authorimg {
  max-width: 70px !important; 
}
.img-grad {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  pointer-events: none;
  content: '';
  padding-top:120px !important ;
  width: 100%;
}
.material-icons, .material-icons-outlined{
  color: rgb(76, 81, 109, .85);
}
.reactionbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0 !important;

}
.flip-horizontally{
  transform: scaleX(-1);
}
.spinner{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #fff;
}
.newslistitem{
  margin-bottom: 20px;
}
.reactionitem{
  margin-right: 40px;
}
#more {display: inline;}
#less {display: none;}
.contentopen{
  margin-top: 1rem;
}
.para{
  margin-top: 10px !important;
  font-size: 16px;
}
i.small {
  margin-top: 10px;
  font-size: 3rem !important;
}
@media only screen and (max-width: 600px) {
  .img-grad {
        padding-top:60px !important ;
  }
  .newslistitem{
    margin-bottom: 0px;
  }
  .metainforow{
    padding-left: 24px;
    padding-right: 14px;
    font-size:8px;
    font-weight: 600;
    color: rgb(76, 81, 109, .70);
  }
  .container {
    width: 100% !important;
}
.mainnewslistrow{
  margin-bottom: 0px !important;
}
.App-header{
  margin-bottom: 10px;
}
.card .card-content{
  padding: 12px 0px 12px 24px !important;
}
.row{
  margin-bottom: 0px !important;
}
.reactionbar{
  margin-bottom: 0 !important;

}
.reactionitem{
  margin-right: 30px !important;
}
.title{
  font-size: 10px;
  margin-bottom: 10px;
}
.para{
  margin-top: 10px !important;
  font-size: 10px;
}
.verified{
  margin-left: 1px;
  font-size: 10px;
}
i.small {
  font-size: 1.5rem !important;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
