@import "~bootstrap/scss/bootstrap";
@import 'react-redux-toastr/src/styles/index';

$primary: #2F80ED;
$enable-responsive-font-sizes: true;
$secondary: rgba(76,81,109,.85);
ul{
    list-style: none;
    padding:0;
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype"),
}
@font-face {
	font-family: "Montserrat-Medium";
	src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype"),
}
@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype"),
}
body{
    font-family: "Montserrat-Regular";
    background-color: #fff;
}
.control-icons{
    color: $secondary;
    font-size: 1.2rem;
}
.verified{
    color: $primary;
}
.reaction-icons-clicked{
    color: $primary;
    font-size: 1rem;
    .flip{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}
.reaction-icons-unClicked{
    color: $secondary;
    font-size: 1rem;
    .flip{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.regular{
    font-family: "Montserrat-Regular";
}
.semiBold{
    font-family: "Montserrat-SemiBold"
}
.medium{
    font-family: "Montserrat-Medium"
}
p{
    font-size: 1rem;
}
.meta{
    color:$secondary;
}
.input-group-text{
    border-top-right-radius:0rem !important;
    border-bottom-right-radius:0rem !important; 

}
.menu-icons{
    margin-left: 2rem;
    color: #7B8794; 
}
.bottom-menu-icons-color{
    color: #7B8794; 

}
.resend{
    font-size: 0.875rem;
}
.otp-input{
    text-align: center;
}
.lang-loc-topic-chipBtn{
    border-radius: 5rem;
    padding-left: 1.4rem;
    padding-right: 1.8rem
}
.lan-abbreviation{
    color: white !important;
    font-size: 12px;
    padding: 0.5rem;
    margin-right: .4rem;
}
.btn-outline-primary:hover{
    .lan-abbreviation{
        background-color: white !important;
        color: $primary !important;
    }
    svg{
        color: $primary !important;
    }

}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #212529;
    background-color: #ffffff;
    border-bottom: solid black;
    border-radius: 0;
    /* border: solid; */
   
}
a {
    color: #323F4B;
    text-decoration: none !important;
    background-color: transparent;
}
.hide{
    display: none
}
.show{
    display: block
}
.pointer{
 cursor:pointer
}
@include media-breakpoint-up(xs) {
    p{
        font-size: 1rem;
    }
    .meta{
        font-size: 0.6rem;
    }
    h5{
        font-size: 0.9rem; 
    }

  }
  @include media-breakpoint-up(xxs) {
    p{
        font-size: 0.8rem;
    }
    .meta{
        font-size: 0.5rem;
    }
    .profile-meta{
        font-size: 0.8rem; 
        font-weight: bold;
    }
  }
  @include media-breakpoint-up(lg) {
    p{
        font-size: 1.1rem;
    }
    .meta{
        font-size: 0.9rem;
    }
    .reaction-icons-clicked{
        font-size: 1.3rem;
    }
    .reaction-icons-unClicked{
        font-size: 1.3rem;
    }
    .control-icons{
        font-size: 1.4rem;
    }
    .profile-meta{
        font-size: 1rem; 
        font-weight: bold;
    }
    h5{
        font-size: 1.2rem; 
    }
  }